FLASK_ENV=development
FLASK_DEBUG=0
SECRET_KEY=replace-me
JWT_SECRET_KEY=replace-me-too
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/teacher_day
FRONTEND_URL=https://teacher-s-day-xi.vercel.app
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
