Flask==3.1.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
psycopg[binary]>=3.2.10,<4
python-dotenv==1.0.1
qrcode[pil]==8.0
Pillow==11.0.0
cloudinary==1.41.0
Werkzeug==3.1.3
